*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    color: blanchedalmond;
    background-color: black;
    padding: 10px;
    background-image: url(images/background.png);
    background-size: cover;
}
.logo h1 {
    margin: -10px;
    padding-left: 135px;
    font-size: 48px;
  }


  .logo span{
    color: aqua;
  }
.list ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
      padding-right: 10px;
    padding-right: 69px;
    font-size: 25px;
  }

.list a{
    text-decoration: none;
    color: blanchedalmond;
}

/* about */

.home{
    background-image:url("images/background.png"),linear-gradient(45deg, rgb(8,8,8), rgb(53,53,53));
    color: bisque;
    display: flex;
    justify-content: space-between;
}

.home-content {
    padding-top: 100px;
    padding: 100px 60px 100px;
      padding-top: 100px;
      padding-right: 60px;
      padding-bottom: 100px;
      padding-left: 60px;
    padding-top: 176px;
    padding-left: 182px;
  }

.home-content  h1 {
    font-size: 40px;
    color: aqua;
  }

.home-content h3{
    font-size: 35px;
}

.home-content .email-info {
    font-size: 25px;
  }

  button{
    padding: 10px;
    color: bisque;
    background-color: #111515;
    border-radius: 10px;
    border: 3px dotted white;
    
    width: 121px;
  }

button:hover{
    background-color: aqua;
    color: black;
    font-size: 16px;
  }

img{
    padding-top: 17px;
}

/* about-content */

.about{
    color: azure;
    
    background-image:url("images/background.png"),linear-gradient(45deg, rgb(113, 90, 90), rgb(53,53,53));
}


.about .about-main{
    font-size: 30px;
    text-align: center;
}

.about-main h2 {
  padding-top: 30px;
  text-decoration: underline;
}
.about-sec {
  display: flex;
  justify-content: space-between;
  gap: 172px;
  column-gap: 129px;
  padding: 50px;
}

.about-sec img {
  padding-top: 17px;
  padding-left: 20px;
  padding: -29px;
  position: relative;
  align-items: center;
  border: 3px solid;
  border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  border-top: -44px;
  margin: 31px;
  width: 302px;
  height: 300px;
}

.about-text{
    padding-top: 130px;
    font-size: 20px;
  }

  .about-text h3{
    font-size: 35px;
  }


/* services */
.menu img{
  width: 200px;
  height: 100px;
}
.menu-item{
  display: flex;
  justify-content: space-between;
  gap: 66px;
  padding: 50px;
}

.services {
  background-color: wheat;
  align-content: ;
  align-items: center;
  text-align: center;
  height: 350px;
  padding: 10px;
  border: 2px dotted;
  box-shadow: 10px 10px 10px;
  border: 93px;
  border-radius: 22px;
}

 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 10px;
  text-decoration: underline;
}

/* contact */
.Contact{
  background-color: #403723fa;
}
.contact-menu {
  display: flex;
  margin-left: 163px;
  gap: 241px;
  margin-top: 35px;
  margin-bottom: 20px;
  padding-bottom: 40px;
}
.log-in {
  background-color: rgb(171, 127, 69);
  width: 30%;
  
  height: 470px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px;
  text-align: center;
}


.log-in img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 2px solid #fdfcfb;
  margin-top: 10px;
  padding: 10px;
}
.log-in h4 {
    text-align: center;
    font-size: 40px;
    padding-top: -28px;
    padding-bottom: -39px;
    margin-top: 3px;
    margin-bottom: 50px;
  }

  .log-in input{
    height: 35px;
    width: 299px;
    border-radius: 10px;
    border: 1px solid wheat;
  }


  .map img{
      height: 453px;
      width: 500px;
    }
  

    /* footer */
   footer{
    background-color: #111515;
    color: wheat;
   }
    footer .end {
      display: flex;
      justify-content: space-between;
      
      padding: 20px 10%;
    }
  
  footer .end p{
      padding-top: 37px;
    }
  
  